* {
    margin: 0;
    padding: 0;
}

body {
    background: #C0C0C0;
}

.box {
    margin: auto;
    margin-top: 3%;
    width: 50%;
    max-width: 700px;
    border-radius: 15px;
}

#titulo {
    padding-top: 40px;
    text-align: center;
    font-family: sans-serif;
    font-size: 3rem;
}

.menu {
    margin: auto;
    margin-top: 80px;
    width: 70%;
    list-style: none;
}

.menu li{
    position: relative;
    margin: auto;
    margin-top: 50px;
    width: 80%;
    height: 450px;
    background: white;
    border-radius: 20px;
    box-shadow: 0px 0px 5px #00000057;
}

#p-titulo {
    font-family: sans-serif;
    padding-top: 10px;
    text-align: center;
}

#img-conversor {
    width: 300px;
    margin-top: 20px;
    margin-left: 38px;
}

.link-conversor {
    position: absolute;
    font-family: sans-serif;
    color: #000000;
    font-size: 1.2rem;
    top: 90%;
    left: 27%;
}

@media(max-width: 600px){
    .box {
        width: 100%;
    }

    .menu {
        width: 90%;
    }

    .menu li {
        width: 90%;
    }

    #img-conversor {
        width: 290px;
        margin-top: 20px;
        margin-left: 8px;
    }

    .link-conversor {
        top: 89%;
        left: 60px;
    }
}